# Django Core Settings
SECRET_KEY=tu_super_secreta_clave_aqui_reemplazar_en_produccion
DEBUG_APP=False # Cambiar a True para desarrollo local si no se usa DJANGO_ENV
DJANGO_ENV=production # O 'development'. Si es 'production', DEBUG se forzará a False.
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,tu_dominio.com # Lista separada por comas

# Configuración de Base de Datos PostgreSQL para producción (ejemplo)
# Descomentar y configurar según sea necesario.
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=nombre_tu_db
# DB_USER=usuario_db
# DB_PASSWORD=contraseña_db
# DB_HOST=localhost
# DB_PORT=5432

# Otras variables de entorno específicas de la aplicación (si las hubiera)
# EJEMPLO_API_KEY=tu_api_key_aqui
